<% if (theme.navfixed == undefined ? false : theme.navfixed) { %>
    <section class="container content">
<% } else { %>
    <section class="container">
<% } %>
    <div class="columns">
        <div class="column three-fourths">
            <article class="article-content article-entry">
                <p>
                    <b>Rent a Capy</b> is the best enterprise to find your perfect capybara!
                    We have a whole range of capybaras that you can pick and finally be happy. Feel free to navigate in
                    our portfolio.
                </p>
                <p>
                    <img src='images/portfolio.jpg' draggable='false' />
                </p>
                <p>
                    As you can see, we provide healthy and cute capybaras.
                    Check our <a href='./pricing'>prices</a>!

                    <div>
                        <b>DISCLAIMER: Capybaras are friends, not food</b>
                    </div>
                </p>
            </article>
        </div>
    </div>
</section>

